<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="electronic devices prediction">



    <!-- Webpage Title -->
    <title>Airport Electronic Facilities prediction </title>
    
    
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

	

    <link rel="stylesheet" type="text/css" href="static/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="static/css/swiper.css">
    <link rel="stylesheet" type="text/css" href="static/css/fontawesome-all.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
	<!-- Favicon  -->
  
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <div class="container">
            
            <!-- Text Logo - Use this if you don't have a graphic logo -->
            <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Zenith</a> -->

            <!-- Image Logo -->
            <a class="navbar-brand logo-image" href="" style="text-decoration: none; font-size: 30px;"><h2 style="color: rgb(243, 241, 245);"> Electronic Facilities Prediction</h2> </a> 

            <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                </ul>
            </div> <!-- end of navbar-collapse -->
        </div> <!-- end of container -->
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-5 left-wrapper">
                    <div class="text-container">
                        <h2>Prediction of Airport Electronic Facilities using Machine Learning.</h2>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-xl-7 right-wrapper">
                    <div class="text-container">
                        <h1 id="js-rotating" class="h1-large">PREDICTION, ANALYSIS, MACHINE LEARNING, CONSULTING</h1>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container-fluid -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- Services -->
    <div id="services" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="services-container">
                        <div class="services-icon">
                            <img class="img-fluid" src="static/images/service-icon-.svg" alt="alternative">
                        </div> <!-- end of services-image -->
                        <div class="services-text">
                            <h2>Prediction model</h2>
                            <p>Penggunaan algoritma Naive Bayes untuk menghasilkan probabilitas untuk memprediksi hipotesis . </p>
                        </div> <!-- end of services-text -->
                    </div> <!-- end of services-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="services-container">
                        <div class="services-icon">
                            <img class="img-fluid" src="static/images/service-icon-2.svg" alt="alternative">
                        </div> <!-- end of services-image -->
                        <div class="services-text">
                            <h2>Analysis</h2>
                            <p>analisis dilihat dari kumpulan data sebelumnya.</p>
                        </div> <!-- end of services-text -->
                    </div> <!-- end of services-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="services-container">
                        <div class="services-icon">
                            <img class="img-fluid" src="static/images/service-icon-3.svg" alt="alternative">
                        </div> <!-- end of services-image -->
                        <div class="services-text">
                            <h2>Rapid reports</h2>
                            <p>prediksi ini akan memberikan respon real time .</p>
                        </div> <!-- end of services-text -->
                    </div> <!-- end of services-container -->
                </div> <!-- end of col -->
               
                    </div> <!-- end of services-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of services -->


    <!-- Details 1 -->
    <div id="details" class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h2>What is Airport Electronic Facilities ?</h2>
                        <p> 
                            
                            Dalam lingkungan Dirjen Perhubungan Udara yang termasuk fasiltas Elektronika Bandara meliputi peralatan elektronika di terminal yang digunakan untuk menunjang operasi bandara, seperti sarana check in, sarana pengamanan dan screning penumpang, sarana panduan parkir otomatis untuk pesawat
                        </p>
                        <p>peralatan elektronika bandara  seperti Peralatan X-Ray ,Flight Information Display System (FIDS) ,Metal Detecor, Explosive Detector, Hand held, Walk through dan lain=-lainnya,  untuk mengetahui kondisi fasilitas elektronik bandara maka dibuat Airport Electronic Facilities prediction.klik tombil Test
                        </p>
                        
                        <a class="btn-outline-reg page-scroll" href="/login">TEST</a>
                    </div> <!-- end of text-container -->
                    <div class="image-container">
                        <img class="img-fluid" src="static/images/alat.jpg" alt="alternative" style="margin-top: 15%; margin-left: 30%;">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of details 1 -->


    	
    <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="static/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="static/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="static/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="static/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="static/js/morphext.min.js"></script> <!-- Morphtext rotating text in the header -->
    <script src="static/js/scripts.js"></script> <!-- Custom scripts -->
</body>

</html>